<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{张雯}面试</title>
    </head>
    <body>
        <div id="root"></div>

        <script src="./resources/js/gtmd-ie.min.js"></script>
        <script src="./resources/js/jquery.min.js"></script>
        <script src="./resources/js/polyfill.min.js"></script>
    </body>
</html>
