//PC
.normal{
    width:100%;
    height:100%;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
}
@media screen and (min-width: 1000px) {
    .header{
        width:100%;
        height:150px;
        background: url(../../../public/resources/images/bg.png) ;
        background-size: 100%;
        position: relative;
        clear: both;
        overflow: hidden;
    }
    .tabWraper{
        width:95%;
        height:35px;       
        margin:auto;
        margin-top:20px;
        clear: both;
        overflow: hidden;
        display: flex;
        .borderleft{
            width:5px;
            height: 100%;
            background:rgb(209, 106, 32);
            border-radius: 3px 0 0 3px;
        }
        .headerCenter{
            width: 100%;
            height:100%;
            background:rgba(192, 189, 189, 0.2);
            position: relative;
        }
        .borderRight{
            width:5px;
            height: 100%;
            background:rgb(209, 106, 32);
            border-radius: 0 3px 3px 0;
        }
        .headerTab{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            display: flex;
            align-items: center;
        }
        .tabLi{
            color:#fff;
            z-index: 999;
            margin-left:30px;
            font-size:14px;
            cursor: pointer;
            &:hover{
                color:rgb(209, 106, 32)
            }
        }
    }
    .logoWrapper{
        position: absolute;
        left: 12%; 
        top: 80px;
        >img{
            width: 180px;
        }        
    }
    .yqWraper{
        width: 100%;
        height:60px;
        position: relative;
    }
    .hxWraper{
        width:100%;
        border:1px solid rgba(41, 40, 40, 0.5);
        margin-top: 50px;
    }
    .sixWrapper{
        height: 40px;
        margin-top: -20px;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .leftSjx{
        width:0;
        height: 0;
        border: 20px solid;
        border-color: transparent rgba(192, 189, 189, 0.2) transparent transparent;
    }
    .centerCnt{
        width: 120px;
        height: 100%;
        background-color:rgba(192, 189, 189, 0.2);
        color: #fff;
        text-align: center;
        line-height: 40px;
    }
    .rightSzx{
        width:0;
        height: 0;
        border: 20px solid;
        border-color: transparent transparent transparent rgba(192, 189, 189, 0.2);
    }
    .contentWrapper{
        width: 80%;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
    }
    .imgWraper{
        width: 30%;
        margin-bottom: 40px;
        >img{
            width: 100%;
        }
    }
    .imgWraper2{
        width: 30%;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        >img{
            width:47%;
            margin-bottom: 15px;
        }
    }
}
/*适应pad端 宽度在640-1000之间*/
@media screen and (min-width: 640px) and (max-width: 1000px) {
    .headerWraper{
        width:100%;
        height:100px;
        background:rgba(192, 189, 189, 0.2);
        border-left: 15px solid rgb(209, 106, 32);
        display: flex;
        align-items: center;
        >img{
            width:180px;
            margin-left: 20px;
        }
    }
    .yqWraper{
        width: 100%;
        height:120px;
        position: relative;
    }
    .hxWraper{
        width:100%;
        border:1px solid rgba(41, 40, 40, 0.5);
        margin-top: 100px;
    }
    .sixWrapper{
        height: 80px;
        margin-top: -40px;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .leftSjx{
        width:0;
        height: 0;
        border: 40px solid;
        border-color: transparent rgba(192, 189, 189, 0.2) transparent transparent;
    }
    .centerCnt{
        width: 220px;
        height: 100%;
        background-color:rgba(192, 189, 189, 0.2);
        color: #fff;
        text-align: center;
        line-height: 80px;
        font-size: 30px;
    }
    .rightSzx{
        width:0;
        height: 0;
        border: 40px solid;
        border-color: transparent transparent transparent rgba(192, 189, 189, 0.2);
    }
    .contentWrapper{
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .imgWraper{
        width: 45%;     
        margin-bottom:30px;          
        >img{
            width:100%;
        }
    }
    .imgWraper2{
        width: 45%;
        margin-bottom:30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        >img{
            width:47%;
            margin-bottom: 20px;
        }
    }
}
/*适应移动端 宽度小于640*/
@media screen and (max-width: 639px){
    .headerWraper{
        width:100%;
        height: 50px;
        background:rgba(192, 189, 189, 0.2);
        border-left: 10px solid rgb(209, 106, 32);
        display: flex;
        align-items: center;
        >img{
            width:120px;
            margin-left: 20px;
        }
    }
    .yqWraper{
        width: 100%;
        height:60px;
        position: relative;
    }
    .hxWraper{
        width:100%;
        border:1px solid rgba(41, 40, 40, 0.5);
        margin-top: 50px;
    }
    .sixWrapper{
        height: 40px;
        margin-top: -20px;
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .leftSjx{
        width:0;
        height: 0;
        border: 20px solid;
        border-color: transparent rgba(192, 189, 189, 0.2) transparent transparent;
    }
    .centerCnt{
        width: 120px;
        height: 100%;
        background-color:rgba(192, 189, 189, 0.2);
        color: #fff;
        text-align: center;
        line-height: 40px;
    }
    .rightSzx{
        width:0;
        height: 0;
        border: 20px solid;
        border-color: transparent transparent transparent rgba(192, 189, 189, 0.2);
    }
    .contentWrapper{
        width:100%;
    }
    .imgWraper{
        width: 80%;
        margin:auto;
        margin-bottom:30px;
        >img{
            width:100%;
        }
    }
    .imgWraper2{
        width: 80%;
        margin:auto;
        margin-bottom:30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        >img{
            width:47%;
            margin-bottom: 20px;
        }
    }
}
@media screen and (orientation: portrait){
    .shadeWrpper{
        width: 100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        background:rgba(192, 189, 189, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tsImgWrrapper{
        text-align: center;
        color:#fff;
        >img{
            width: 70%;
        }
    }
    .scapeImg{
        animation: ScapeXz infinite 1s ;
    }
}
@keyframes ScapeXz {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}